/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.ltr
    direction: ltr!important;
    text-align: left!important;


.features ol 
  list-style-type: arabic-indic!important;  
